<!DOCTYPE html>
<html>
    <body>
        <main>
            <section class="main-content">
                <h2>About Us</h2>
                <p>With more than 60,000 members worldwide, the Brandeis Alumni Association is a vibrant community that offers lifelong opportunities for alumni to stay connected to Brandeis and each other.</p>
            </section>
        </main>
    </body>
</html>