<!DOCTYPE html>
<html>
    <body>
        <main>
            <section class="main-content">
                <h2>Welcome to the Brandeis Students & Alumni Association</h2>
                <p>The Brandeis Students & Alumni association is a vibrant community that offers lifelong opportunities for students and alumni to stay connected to Brandeis and each other.</p>
            </section>
        </main>
    </body>
</html>
